*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
    border: 1px solid #ccc;
}
td, th{
    height: 50px;
}
th{
    background-color: #323232;
    color: #fff;
    text-transform: uppercase;
}
th:first-child::after{
    content: "(DESC)";
    font-size: 0.8em;
    color: #f4f0f0;
    margin-left: 10px;
}
tr:nth-child(even){
    background-color: #EEEEEE;
}